---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>これはわたしがアストロについて学ぶ旅路をポストする場所です。</p>
  <ul>
    {
      allPosts.map((x) => (
        <>
          <BlogPost url={x.url} title={x.frontmatter.title} />
        </>
      ))
    }
  </ul>
</BaseLayout>
