---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>これはわたしがアストロについて学ぶ旅路をポストする場所です。</p>
  <ul>
    <li>
      <a href="/posts/post-1">Post One</a>
    </li>
    <li>
      <a href="/posts/post-2">Post Two</a>
    </li>
    <li><a href="/posts/post-3">Post Three</a></li>
  </ul>
</BaseLayout>
