---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Yu Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>my awesome blog subtitle</h2>
</BaseLayout>
